<div class="container">
    <br>
    <h1>Sistema de Reservas para un Restaurante</h1>
<br>
<h4>Generalidades</h4>
<ul>
    <li>Crea un sistema que permita a los usuarios realizar reservas en un restaurante, seleccionando la fecha, hora, y número de personas.</li>
    <li>Implementa un panel de administración donde el restaurante pueda ver y gestionar las reservas.</li>
    <li>El backend debe ser desarrollado en Java con Spring Boot, utilizando JPA/Hibernate para la persistencia de datos.</li>
    <li>El frontend puede ser desarrollado con React o Angular, con énfasis en la usabilidad y diseño responsivo.</li>
</ul>
</div>
